
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h1{text-align: center;} 

figcaption {
    text-align: center;
            }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
